# What is a function?

* A function is a block of code which only runs when it is **called**.
* In Python a function is defined with the **'def' keyword**.
* Functions can accept any number of **arguments** of any type.
* Functions can optionally **return data** as well. This data may also be of any type. You can return more than one value as well.
* Arguments can have **default values** as well.
* While calling functions, the user may define arguments as **keyword pairs**.

In [1]:
# Redundancy means repeating the things
def tea():
  print("Boil water with tea leaves and sugar")
  print("Add Milk")
  print("Let it boil 4-5 times")

def coffee():
  print("Boil some milk")
  print("Pour it in cup with some coffee")
  print("Stir")

tea()
coffee()

Boil water with tea leaves and sugar
Add Milk
Let it boil 4-5 times
Boil some milk
Pour it in cup with some coffee
Stir

In [3]:
def hello(name):
  print("Hello "+name)

hello("Anurag")
# Type of Function
print(type(hello))

Hello Anurag
<class 'function'>

In [4]:
def fight(name,age,villians):
  print("Hero named",name,"at age",age,"was fighting all these villians - ",villians)
fight("Spiderman",20,["Vulture","Venom","Electro"])

Hero named Spiderman at age 20 was fighting all these villians -  ['Vulture', 'Venom', 'Electro']

In [ ]:
# Default Parameters
def fight(name,age,villians=["Thanos","Ultron"]):
  print("Hero named",name,"at age",age,"was fighting all these villians - ",villians)
fight("Spiderman",20)

Hero named Spiderman at age 20 was fighting all these villians -  ['Thanos', 'Ultron']

# Return data from a function

In [8]:
# Write a function cube
def cube(n):
  return n**3

value = cube(5)+cube(3)
print(value)

152

In [ ]:
# Return as many value as you want
def user():
  return "Anurag",20,"Music"

# Destructoring the data from function
name,age,hobby = user()
print(name,age,hobby)

Anurag 20 Music

# Calling with keyword pair argument

In [ ]:
def fight(age,name,villians):
  print("Hero named",name,"at age",age,"was fighting all these villians - ",villians)
fight(name = "Spiderman",age = 20,villians=["Vulture","Venom","Electro"])

Hero named Spiderman at age 20 was fighting all these villians -  ['Vulture', 'Venom', 'Electro']

In [ ]:
range? # to check the document

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

# Write a program to print all prime from 1 to 100

# Map

In [ ]:
def square(n):
  return n**2

a = [1,2,3,4,5]

b= list(map(square,a))
print(b)

[1, 4, 9, 16, 25]

# Lambda Function

In [20]:
# With Single Argument
square = lambda a:a**2
print(square(5))

# With Multiple Argument
multiply = lambda a,b:a*b
print(multiply(5,10))

# With Multiple Data return
data = lambda b:[b**2,b+b]
print(data(5))

25
50
[25, 10]

# List Slicing
* [start:end+1:step]

In [4]:
a = [1,2,3,4,5]
print(a[2:4:1])
# Pick Odd Numbers 
print(a[::2])
# Pick Even Numbers 
print(a[1::2])

[3, 4]
[1, 3, 5]
[2, 4]

In [5]:
# Reverse the List
a = [1,2,3,4,5]

#start
#end
#inc
print(a[::-1])

[5, 4, 3, 2, 1]

# List Comprehension

In [8]:
res = [i**2 for i in range(1,101)]
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [11]:
# Using map
sum = lambda a:a**2
sq = list(map(sum,range(1,101)))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
#Filter out all Even number

even = [27,24,21,46,48,6,25,38,10,40]
b = [x for x in even  if x%2==0]
print(b)

[24, 46, 48, 6, 38, 10, 40]

# Tuples

* **Tuples** are used to store multiple items in a single variable.
* A tuple is a collection which is **ordered** and **immutable (unchangeable)**.
* Tuples are written with **round brackets** `()`.
* Tuple items are **indexed**, the first item has index `[0]`, the second item has index `[1]` etc.
* Tuples can be created with tuple constructor - `tuple()`.
* Tuples can also be created by simply writing multiple values with **comma separation**.
* Tuples are processed **faster** than lists in Python.

In [14]:
# Tuple is like readOnly List
continents = ("Asia","Africa","Australia","Antartica","North America","South America","Europe")
print(continents[0])

Asia

In [15]:
print(type(continents))

<class 'tuple'>

In [18]:
# List to Tuple
b = [1,2,3,4,5]
a = tuple(b)
print(a)
#Tuple to List
c = list(a)
print(c)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [20]:
a,b,c,d = 1,2,3,4
print(a,b,c,d)

1 2 3 4

In [ ]:
a = [1,2,3]
t = (7,8,9,a) # Here a is reference thats why on change the value is added
a.append(10)
print(t)

(7, 8, 9, [1, 2, 3, 10])

In [22]:
a = (1,2,3)
b = (5,6,7)
print(a+b)

(1, 2, 3, 5, 6, 7)

# Challenge - Check if Sorted

In [23]:
a = (1,4,10,12,14,18,20)

In [25]:
ans = "Sorted"
for i in range(len(a)-1):
  if a[i]<a[i+1]:continue
  else: 
    ans = "Not Sorted"
    break

print(ans)

Sorted

# Write the Product of all the Arguments

In [ ]:
# *args * will recognized as spread operator 
def product(*args): 
  ans = 1
  for p in args:
   ans = ans*p
  
  return ans

product(1,2,3,4,5)

120