# Programming Fundamentals

# Print Statement  args,end,sep

In [4]:
print("Hello","Anurag",sep=" = ",end="@@@@")
print("Hello","Aniket")

Hello = Anurag@@@@Hello Aniket

# Multiline Strings

In [5]:
s1 = "Hello Mate"
print(s1,type(s1))

Hello Mate <class 'str'>

In [ ]:
# If we don't define in variable it can be consider as multiline Comment
s2 = '''
Hello Anurag

Good Morning
'''
print(s2,type(s2))

Hello Anurag

Good Morning
 <class 'str'>

# Branching

In [15]:
age = 5
if age >= 65:
  print("Retired fellow")
elif age>=10:
  print("Corporate Fellow")
else:
  print("Mauj Masti")

Mauj Masti

# and and or

In [16]:
batch = "python"
org = "scaler"
if org=="scaler" and batch=="python":
  print("Allow")
else:
  print("Not Allowed")

Allow

In [17]:
if org == "scaler" or org == "interview_bit":
  print("Allowed")
else:
  print("Ban")

Allowed

In [19]:
# Print Number from 1 to 100
counter = 1
while counter<=10:
  print(counter,end=" ")
  counter = counter+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
a = 2
a = a+5 #Old Way
a+=5 #New Way
print(a)

12

In [23]:
#Stair pattern
row = 1
n = int(input("Enter The Row"))
while row<=n:
  print(row*"* ")
  row = row+1

*
* *
* * *
* * * *
* * * * *

# Range

### range(start,end,inc)
### range(11) take start = 0 and end = 11 but  
### goes till 10 only and increment to be 1

In [ ]:
for i in range(2,8):
  print(i,end=" ")

2 3 4 5 6 7

In [ ]:
# Print Even Numbers
for i in range(0,11,2):
  print(i,end=" ")

0 2 4 6 8 10

In [ ]:
# print Range in list
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# Print odd numbers from 1 to 10
for i in range(1,10,2):
  print(i*i,end=" ")

1 9 25 49 81

In [34]:
for i in range(9,0,-2):
  print(i**3,end=" ")

729 343 125 27 1

In [35]:
# Iterartion on string
for i in "Hello World":
  print(i,end=" ")

H e l l o   W o r l d

In [36]:
# Sum of Number
sum = 0
n = int(input("Enter The Range"))
for i in range(1,n+1,1):
  sum+=i

print("The Sum is ",sum)

The Sum is  55

In [41]:
# Sum of Digits
sum = 0
n = int(input("Enter The Range"))
while n!=0:
  last_digit = n%10
  sum+=last_digit
  n = n//10

print("The Sum of digit is",sum)

The Sum of digit is 11

# 1 2 3 4
# 1 2 3
# 1 2
# 1

In [62]:
n = int(input("Enter the Number"))
for row in range(1,row+1):
  for col in range(1,n-row+1,1):
    print(col,end=" ")
  print()

1 2 3 4
1 2 3
1 2
1

# 0001000
# 0023200
# 0345430
# 4567654

### Zeros are N-i 
### Start is i and end is 2i-1 for incresing sequence
### For Decresing Sequence start  from 2i-2 and end is i-1

In [55]:
n = int(input("Enter The Row"))
for i in range(1,n+1):
  print("0"*(n-i),end="")
  for j in range(i,2*i):
    print(j,end="")
  for k in range(2*i-2,i-1,-1):
    print(k,end="")
  print("0"*(n-i))

000010000
000232000
003454300
045676540
567898765

In [2]:
# break is use to terminate the loop
i = 0
while i<= 5:
  print(i)
  if i==3: break
  i = i+1

0
1
2
3

In [8]:
# continue statement skip the iteration
for i in range(2,100,2):
  if i%3==0: continue
  print(i,end=" ")

2 4 8 10 14 16 20 22 26 28 32 34 38 40 44 46 50 52 56 58 62 64 68 70 74 76 80 82 86 88 92 94 98

In [9]:
# continue statement skip the iteration
for i in range(2,100,2):
  if i%3!=0:
   print(i,end=" ")

2 4 8 10 14 16 20 22 26 28 32 34 38 40 44 46 50 52 56 58 62 64 68 70 74 76 80 82 86 88 92 94 98

# Random Game

In [7]:
import random
while True:
  #infinite loop
  r = random.randint(1,10)
  # it generate random number between 1 to 10
  print(r)

  if(r==5): break

4
4
7
8
5

In [17]:
#Prime Number
n = int(input("Enter The Number"))
isPrime = True
for i in range(2,n):
  if n%i==0:
    isPrime = False
    break

if isPrime and n!=1:
  print("Prime")
else:
  print("No Prime")

No Prime

In [24]:
# swap to numbers
a = int(input("Enter Number A"))
b = int(input("Enter Number B"))
print(a,b,id(a),id(b))
a,b = b,a
print(a,b)

5 7 140703746667560 140703746667624
7 5

In [ ]:
# Python variable don not store any value
# They are simply Binded to them
# id give the address of variable

140703746668840

# A list is a collection of items which are ordered, changeable, and allow duplicate members.
# Lists are used to store multiple items in a single variable.

# 1. Lists are created using square brackets []
my_list = ["apple", "banana", "cherry"]
print(my_list) # Output: ['apple', 'banana', 'cherry']

# 2. List items are indexed: the first item has index [0], the second item has index [1], etc.
print(my_list[0]) # Output: apple
print(my_list[1]) # Output: banana

# 3. Lists are ordered, changeable, and allow duplicate values.
# Allowing duplicate values:
duplicate_list = ["apple", "banana", "apple", "cherry"]
print(duplicate_list) # Output: ['apple', 'banana', 'apple', 'cherry']

# 4. The list is changeable (mutable), meaning that we can change, add, and remove items in a list after it has been created.
# Change an item:
my_list[1] = "blackberry"
print(my_list) # Output: ['apple', 'blackberry', 'cherry']

# Add an item:
my_list.append("orange")
print(my_list) # Output: ['apple', 'blackberry', 'cherry', 'orange']

# Remove an item:
my_list.remove("apple")
print(my_list) # Output: ['blackberry', 'cherry', 'orange']

# 5. You can also use the list constructor - list() - to create lists.
constructor_list = list(("Ford", "BMW", "Volvo")) # Note the double round-brackets
print(constructor_list) # Output: ['Ford', 'BMW', 'Volvo']

In [ ]:
#List of Number
a = [1,2,3,4,5]
for i in a:
  print(i,end=" ") 
print(type(a))

1 2 3 4 5 <class 'list'>

In [ ]:
#List of String
a = ["apple","banana","orange","guava","peach"]
for i in a:
  print(i,end=" ") 
print(type(a))

apple banana orange guava peach <class 'list'>

In [28]:
#List of Mixed Data
a = ["apple","banana",1,"guava",2]
for i in a:
  print(i,end=" ") 
print(type(a))

apple banana 1 guava 2 <class 'list'>

In [29]:
#List of List
a = [["Apple","Mango"],[1,2],[True,False]]
for i in a:
  print(i,end=" ") 
print(type(a))

['Apple', 'Mango'] [1, 2] [True, False] <class 'list'>

# List is Heterogeneous and Array is Homogeneous

In [41]:
fruits = ["Apple","Mango","Banana"]

# length of list
len(fruits)

3

In [42]:
# fetch the individual Value
print(fruits[0])

Apple

In [43]:
# Update The List
fruits[1] = "Grapes"
print(fruits)

['Apple', 'Grapes', 'Banana']

In [44]:
# Add The Value
fruits.append("Raspberry")
print(fruits)

['Apple', 'Grapes', 'Banana', 'Raspberry']

In [45]:
#swap the value
fruits[0],fruits[1] = fruits[1],fruits[0]
print(fruits)

['Grapes', 'Apple', 'Banana', 'Raspberry']

In [46]:
#Pop the Value
fruits.pop()
print(fruits)

['Grapes', 'Apple', 'Banana']

In [47]:
#List Constructor
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = [2,6,9,3,4,1,5]
b = 9  
# Linear Search 
# list.index(value) is inbuild function to find index in list 
if b in a:
  print("Present",a.index(b)) #O(n) time

Present 2

In [ ]:

dir(a) # is used to find all the function that we use in particular variable

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# How to take input in List

In [55]:
#Read The Input and split
a = input()

In [56]:
a

'10 20 30 40'

In [57]:
#returns a list of entries seperated by spaces
b = a.split()

In [58]:
b

['10', '20', '30', '40']

In [59]:
#Iterate over each element and print
for i in range(len(b)):
  b[i] = int(b[i])

In [60]:
b

[10, 20, 30, 40]