# Programming Fundamentals

# Print Statement  args,end,sep

In [4]:
print("Hello","Anurag",sep=" = ",end="@@@@")
print("Hello","Aniket")

Hello = Anurag@@@@Hello Aniket

# Multiline Strings

In [5]:
s1 = "Hello Mate"
print(s1,type(s1))

Hello Mate <class 'str'>

In [ ]:
# If we don't define in variable it can be consider as multiline Comment
s2 = '''
Hello Anurag

Good Morning
'''
print(s2,type(s2))

Hello Anurag

Good Morning
 <class 'str'>

# Branching

In [15]:
age = 5
if age >= 65:
  print("Retired fellow")
elif age>=10:
  print("Corporate Fellow")
else:
  print("Mauj Masti")

Mauj Masti

# and and or

In [16]:
batch = "python"
org = "scaler"
if org=="scaler" and batch=="python":
  print("Allow")
else:
  print("Not Allowed")

Allow

In [17]:
if org == "scaler" or org == "interview_bit":
  print("Allowed")
else:
  print("Ban")

Allowed

In [19]:
# Print Number from 1 to 100
counter = 1
while counter<=10:
  print(counter,end=" ")
  counter = counter+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
a = 2
a = a+5 #Old Way
a+=5 #New Way
print(a)

12

In [23]:
#Stair pattern
row = 1
n = int(input("Enter The Row"))
while row<=n:
  print(row*"* ")
  row = row+1

*
* *
* * *
* * * *
* * * * *

# Range

### range(start,end,inc)
### range(11) take start = 0 and end = 11 but  
### goes till 10 only and increment to be 1

In [ ]:
for i in range(2,8):
  print(i,end=" ")

2 3 4 5 6 7

In [ ]:
# Print Even Numbers
for i in range(0,11,2):
  print(i,end=" ")

0 2 4 6 8 10

In [ ]:
# print Range in list
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# Print odd numbers from 1 to 10
for i in range(1,10,2):
  print(i*i,end=" ")

1 9 25 49 81

In [34]:
for i in range(9,0,-2):
  print(i**3,end=" ")

729 343 125 27 1

In [35]:
# Iterartion on string
for i in "Hello World":
  print(i,end=" ")

H e l l o   W o r l d

In [36]:
# Sum of Number
sum = 0
n = int(input("Enter The Range"))
for i in range(1,n+1,1):
  sum+=i

print("The Sum is ",sum)

The Sum is  55

In [41]:
# Sum of Digits
sum = 0
n = int(input("Enter The Range"))
while n!=0:
  last_digit = n%10
  sum+=last_digit
  n = n//10

print("The Sum of digit is",sum)

The Sum of digit is 11

# 1 2 3 4
# 1 2 3
# 1 2
# 1

In [62]:
n = int(input("Enter the Number"))
for row in range(1,row+1):
  for col in range(1,n-row+1,1):
    print(col,end=" ")
  print()

1 2 3 4
1 2 3
1 2
1

# 0001000
# 0023200
# 0345430
# 4567654

### Zeros are N-i 
### Start is i and end is 2i-1 for incresing sequence
### For Decresing Sequence start  from 2i-2 and end is i

In [55]:
n = int(input("Enter The Row"))
for i in range(1,n+1):
  print("0"*(n-i),end="")
  for j in range(i,2*i):
    print(j,end="")
  for k in range(2*i-2,i-1,-1):
    print(k,end="")
  print("0"*(n-i))

000010000
000232000
003454300
045676540
567898765